@font-face {
    font-family: "et-book";
    src:
        /* Originally "et-book-roman-line-figures" */
        url("assets/fonts/et-book.woff2") format("woff2"),
        url("assets/fonts/et-book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src:
        /* Originally "et-book-display-italic-old-style-figures" */
        url("assets/fonts/et-book-italic.woff2") format("woff2"),
        url("assets/fonts/et-book-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src:
        /* Originally "et-book-semi-bold-old-style-figures" */
        url("assets/fonts/et-book-bold.woff2") format("woff2"),
        url("assets/fonts/et-book-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-num";
    src:
        /* Originally "et-book-roman-old-style-figures" */
        url("assets/fonts/et-book-num.woff2") format("woff2"),
        url("assets/fonts/et-book-num.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
