<!DOCTYPE html>
<html lang="{{ lang || metas.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ if url !== "/" }}
        {{ title || metas.title }} -
      {{ /if }}
      {{ metas.site }}
    </title>

    {{ comp.fontPreloads({ content }) }}

    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/glow.css">
    <link rel="stylesheet" href="/katex.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="canonical" href="{{ url |> url(true) }}">
  </head>
  <body>
    <main>
      {{ if header.enabled }}{{ comp.header({ pageUrl: url }) }}{{ /if }}

      <article>
        {{ content }}
      </article>
    </main>
  </body>
</html>
