@forward "css/reset.css";
@forward "css/et-book.css";
@forward "css/tufte.css";
@forward "css/header.scss";
@forward "css/blog-list.scss";
@forward "css/blog-single.scss";
@forward "css/details";
@forward "css/theme";
@forward "css/table";

.katex-display {
    overflow-x: scroll;
}

@media (max-width: 1200px) {
    [glow] {
        --glow-padding: 0.5em;
    }
}

img.responsive {
    width: auto;
    height: auto;
}
